@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf');
  src: local('Roboto Mono'), local('RobotoMono'),
       url('./assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf?#iefix') format('truetype'),
}

body, input, textarea, select, button {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', 'DejaVu Sans Mono', monospace;
  letter-spacing: -0.48px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
